
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .invoice {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #000;
        }
        h1 {
            text-align: center;
        }
        .details {
            margin-top: 20px;
        }
        .details p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="invoice">
        <h1>Invoice</h1>
        <div class="details">
            <p><strong>Unique Order Identifier (OID):</strong> {{ order.oid }}</p>
            <p><strong>Name:</strong> {{ order.name }}</p>
            <p><strong>Email:</strong> {{ order.email }}</p>
            <p><strong>Amount Paid:</strong>  Rs.{{ order.amount }}</p>
            <p><strong>Address:</strong> {{ order.address1 }}, {{ order.city }}, {{ order.state }}, {{ order.zip_code }}</p>
        </div>
    </div>
</body>
</html>
