{% extends 'base.html' %}
{% block title %}Payment status{% endblock title %}


{% block intro %} 

<h1>Shop with Speed, Checkout with Ease!</h1>
<h2> Experience the ease of browsing through a curated selection of products, swift checkout, and doorstep delivery. Elevate your shopping journey with us – Swift Cart, where convenience meets quality, and every click brings you closer to satisfaction.</h2>
<a href="/" class="btn-get-started scrollto">Shop More</a>
{% endblock intro %}
{% block body %}



    <style>
        
        .payment-status {
            margin: 20px auto;
            max-width: 500px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        </style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="payment-status">
                <h1 class="text-center mb-4">Payment Status</h1>
                {% if is_success %}
                    <div class="alert alert-success" role="alert">
                        <strong>Payment Successful!</strong> Your payment with Payment ID: {{ payment_id }} has been processed successfully.
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Payment Failed!</strong> There was an error processing your payment for Order ID: <strong>{{ order_id }}</strong> with Payment ID: {{ payment_id }}. Please try again.
                    </div>
                {% endif %}
                <!-- You can add more details here if needed -->
            </div>
        </div>
    </div>
</div>
    {% endblock body %}

